body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: rgba(255, 166, 0, 0.918);
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding: 50px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: -moz-linear-gradient(rgba(255, 0, 0, 0.89),tomato);
    padding: 40px 80px;
    color: rgb(40, 219, 9);
    border-radius: 25px;
}